html *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(245, 243, 215, 0.700);
}
/* HEADER */
header{
  display: flex!important;
  justify-content: space-between!important;
  padding: 2vh 5vw;
  align-items: flex-end;
}
.fotoUsuario{
  width: 6vw;
}
/* Nav */
#nav1{
  width: 20vw;
  background-color: rgba(92, 92, 201, 0.678);
}
#nav1 ul{
  display: flex;
  justify-content: space-evenly;
}
.active{
  background-color: rgb(136, 136, 248);
}
#nav1 ul p{
  font-size: 1.7rem;
}
/* CAROUSEL */
.tituloCar{
  text-align: center;
  background-color: moccasin;
}
.car1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.car2{
  margin: 0 0 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fotos:hover{
  background-size: 35vw !important;
  background-position: 40%;
 
}
.fotos div:hover{
  font-size: 2vw;
  color: yellow;
  font-family: cursive;
}
.fotos{
  margin: 2vh 2vw;
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nombreCiudad{
  color: yellow;
  font-size: 1.4rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  text-align: center;
  width: 100%;
  background-image: -webkit-linear-gradient( top left,#88c9e78e, #4454e2f1);
}
.car1 button{
  background-color: rgba(0, 128, 0, 0);
  border: none;
}
.MuiSvgIcon-root{
  font-size: 3rem!important;
}

/* Section */
section{
  background-image: radial-gradient(khaki);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo{
  border-bottom: solid rgb(0, 0, 0); 
  margin-bottom: 4vh; 
}
.textoLogo{
  border-bottom: solid rgb(0, 0, 0); 
  padding: 2vh 0; 
  background-color: moccasin;
  width: 50%;
  text-align: center;
}
.logoTexto{
  display: flex;
  margin-bottom: 4vh;
}
.divCall1{
  height: 30vh;
  display: flex;
}
.divCall2{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.botonCall{
  background-color: rgba(188, 248, 109, 0.329);
  text-shadow: 0.5px 0.5px;
  border-radius: 0%;
  height: 12vh;
  width: 15vw;
}
/* Footer */
footer{
  margin-top: 5vh;
  height: 30vh;
  display: flex;
  background-color: rgba(160, 160, 160, 0.479);
}
.footerDiv0{
  display: flex;
  justify-content: space-around;
  height: 25vh;
  padding: 2vh 0;

}
.footerDiv1{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.footerDiv1 p{
  font-size: 2rem;

}
.navFooter{
  display: flex;
  justify-content: space-evenly;
  width: 15vw;
}
.navFooter div{
  height: 5vh;
  width: 6vw;
  border: solid black;
  border-radius: 40%;
  text-align: center;
}
.navFooter div:hover,.footerRedes svg:hover{
  background-color: rgba(240, 230, 140, 0.534);
  border-radius: 40%;
}
.navFooter p{
  font-size: 1.5rem;
}
.footerRedes{
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
}
.footerText{
  text-align: center;
}

