html *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgba(245, 243, 215, 0.700);
}
/* HEADER */
header{
  display: flex!important;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh!important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 20%;
  align-items: center;
}
header h1{
  font-family: 'Lemonada', cursive;
  width: 35%;
  text-align: center;
  color: white;
  background-color: #48afb1af;
  margin-bottom: 45vh;
}
header h1:hover{
  background-color: #48afb1;
  
}
.divHeader{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 6vw;
}
.fotoUsuario{
  width: 5vw;
}
/* Nav */
#nav1{
  width: 20vw;
  background-color: rgba(35, 132, 223, 0.74);
}
#nav1 ul{
  display: flex;
  justify-content: space-evenly;
}
.active{
  background-color: rgba(67, 70, 243, 0.5);
}
#nav1 ul p{
  font-size: 1.7rem;
}
/* CAROUSEL */
.tituloCar{
  color: white;
  padding: 2vh;
  text-align: center;
  background-color: #50b2b4;
}
.car1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.car2{
  margin: 0 0 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.fotos1{
  width: 30vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fotos2{
  width: 29vw;
  height: 34vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat:no-repeat;
  background-size: cover;
}
.fotos2:hover{ 
  width: 29.5vw;
  height: 34.5vh;
}
.fotos2 div:hover{
  font-size: 1.8vw;
}
.nombreCiudad{
  color: white  ;
  font-size: 1.4rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  text-align: center;
  width: 100%;
  background-color:#11698edb;
}
.car1 button{
  background-color: rgba(0, 128, 0, 0);
  border: none;
}
.MuiSvgIcon-root{
  font-size: 3rem!important;
}

/* Section */
section{
  min-height: 90vh;
  background-image: radial-gradient(#f8f1f1);
  font-family: 'Fraunces', serif;
}
.logoYtitulo{
  width: 50%;
  display: flex;
  align-items: center;
  height: 30vh;
  margin-bottom: 8vh;
  padding-bottom: 1vh;
  border-bottom: 4px solid black;
}
.logo{ 
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  width: 40%;
  height: 95%;
  
}
.tituloLogo{
  color: #11698e;
  text-shadow: 2px 1px rgba(37, 24, 155, 0.377);
  width: 50%;
  font-size: 55px;
  padding-left: 0.5vw;
}
.textoLogo{
  border-top-left-radius: 20%;
  border-bottom-right-radius: 20%;
  box-shadow: 6px 6px black;
  border-bottom: solid rgb(0, 0, 0); 
  padding: 2vh 0; 
  color: white;
  background-color:#50b2b4;
  width: 50%;
  text-align: center;
}
.logoTexto{
  display: flex;
  margin-bottom: 10vh;
}
.divCall1{
  background-color: white;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 10vh;
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: right;
  background-position-x: 120%;
}
.divCall1 h2{
  text-align: center;
  width: 45%;
  font-size: 3rem;
  background-color: #11698e;
  color: white;
  margin: 0;
  border-bottom-left-radius: 20%;
  border-bottom: solid black;
}
.divCall1 p{
  background-color: #11698e;
  color: white;
  width: 45%;
  text-align: center;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-evenly;
}
.divBotonCallToAction{
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13vh;

}
.divBotonCallToAction button{
  color: black;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  font-size: 150%;
  background-color: rgba(35, 132, 223, 0.74)  ;
  color :white;
  height: 8vh;
  width: 13vw;
  box-shadow: 3px 3px black;
}
.divBotonCallToAction button:hover{
  width:15vw ;
  height: 10vh  ;
  font-size: 170%;
}

/* Footer */
footer{
  margin-top: 5vh;
  height: 30vh;
  display: flex;
  background-color: rgba(35, 132, 223, 0.644);
}
.footerDiv0{
  display: flex;
  justify-content: space-around;
  height: 25vh;
  padding: 2vh 0;
}
.footerDiv1{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.footerDiv1 p{
  font-size: 2rem;

}
.navFooter{
  display: flex;
  justify-content: space-evenly;
  width: 18vw;
}
.navFooter div{
  height: 80%;
  width: 120%;
  border: solid black;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.navFooter div:hover,.footerRedes svg:hover{
  background-color:#11698e;
}
.navFooter p{
  font-size: 150%;
}
.footerRedes{
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
}
.footerText{
  text-align: center;
}

/* City */
.sectionCities{
  display: flex;
  flex-wrap: wrap;
  padding: 3vh 0;
}
.sectionCities input{
  height: 10vh!important;
  text-align: center;
  font-size: 2.7vw !important;
}
.city1{
  width: 50%;
  height: 50vh;
  padding: 4vh 1vw;
}
.city1 div{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
}
.city1:hover{
  padding: 3vh 1.5vh;
}
.city1 h5{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  padding: 0.5vh;
  background-color: rgba(35, 132, 223, 0.74);
}
.cityNotFound{
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
}
.cityNotFound h3{
  background-color: #3a928485;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Itineraries */
.itineraryCity{
  height: 45vh;
  background-position: center;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cityTitle{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lemonada', cursive;
  background-color: #039ae5ee;
}
.itinerary{
  background-image:linear-gradient(#50b2b4b6,rgba(0, 0, 255, 0.336));
  height: 40vh;
  margin: 2vh 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.itineraryContent{
  height: 100%;
  display: flex;
}
.itineraryContent1,.itineraryContent2,.itineraryContent3{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.itineraryContent2{
  width: 40%;
}
.itineraryUserImg{
  border-radius: 60%;
  width: 60%;
  height: 60%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.itineraryUserName{
  font-size: 1.8vw;
  font-family: serif;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.itineraryContent2{
  justify-content: space-evenly;
}
.itineraryName{
  text-align: center;
}
.itineraryName h4{
  font-size: 2.5vw;
}
.itineraryHashtag{
  width: 100%;
  text-align: center;
}
.itineraryHashtag h6{
  display: inline-flex;
  padding: 0 0.5vw;
}
.itineraryContent3{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.itineraryContent3 div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
}

.itineraryContent3 svg{
  color: red;
  height: 3vh;
}

.itineraryButtons{
  display: flex;
  justify-content: center;
}
.itineraryButtons button{
  
  margin: 0 2vw;
  color: #039be5;
}

/* Loader */
.loader{
  width: 100%;
  height: 30vh;
  display: flex ;
  justify-content: center;
}